<div class="row">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Customer details for {{circuit.cid}}</mat-card-title>
            <mat-card-subtitle>via {{circuit.provider}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="circuit.a !== undefined || circuit.z !== undefined">
            <div class="location-container">
                <div class="forty-five" *ngIf="circuit.a !== undefined">
                    <app-location-display [location]="circuit.a"></app-location-display>
                </div>
                <div class="forty-five" *ngIf="circuit.z !== undefined">
                    <app-location-display [location]="circuit.z"></app-location-display>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content>
            <app-customer-list [customers]="circuit.customers" #customerList></app-customer-list>
        </mat-card-content>
    </mat-card>
</div>
<div class="row">
    <app-customer-entry [forCircuit]="circuit.cid"></app-customer-entry>
</div>