ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li div {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.right {
    float: right;
}

.emphasis {
    font-size: x-large;
    text-decoration: double underline;
}