.add-customer-grid-container {
    display: grid;
    grid-template-areas:
        "nameLabel nameInput"
        ". nameError"
        "emailLabel emailInput"
        ". emailError"
        "phoneLabel phoneInput"
        ". submit";
    grid-template-columns: 1fr 5fr;
}

.add-customer-grid-container input {
    width: 99%;
    margin-right: 1%;
}

.add-customer-grid-container button {
    width: 30%;
    height: 75%;
    margin-bottom: 5%;
}

.add-customer-name-label {
    grid-area: nameLabel;
    justify-self: right;
    align-self: center;
    padding-right: 1rem;
    margin-top: 1rem;
}

.add-customer-name-input {
    grid-area: nameInput;
    justify-self: stretch;
    margin-top: 1rem;
}

.add-customer-name-error {
    grid-area: nameError;
    margin-bottom: 1rem;
}

.add-customer-email-label {
    grid-area: emailLabel;
    justify-self: right;
    align-self: center;
    padding-right: 1rem;
}

.add-customer-email-input {
    grid-area: emailInput;
}

.add-customer-email-error {
    grid-area: emailError;
    margin-bottom: 1rem;
}

.add-customer-phone-label {
    grid-area: phoneLabel;
    justify-self: right;
    align-self: center;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.add-customer-phone-input {
    grid-area: phoneInput;
    margin-bottom: 1rem;
}

.add-customer-submit-button {
    grid-area: submit;
}