.mat-card {
    max-width: 720px;
    margin: auto;
}

.mat-form-field {
    width: 100%;
    display: block;
}

button {
    width: 96px;
    height: 48px;
}

textarea {
    line-height: 1.5em;
}

.right {
    float: right;
}