.circuit-panel {
    display: block;
    padding: 16px;
    text-decoration: none;
}

.circuit-panel-right {
    margin-left: auto;
}

.circuit-panel-emphasis {
    font-size: x-large;
    text-decoration: double underline;
}