<div class="row">
    <label for="cid-filter">CID: </label>
    <input type="text" name="cid-filter" id="cid-filter" [(ngModel)]="listFilter">
</div>
<div class="row">
   <table class="striped">
       <thead>
           <tr>
               <td>CID</td>
               <td>Provider</td>
               <td>Num. Customers</td>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let circuit of filteredCircuits"
                [routerLink]="['/circuit', circuit.id]">
                <td>{{ circuit.cid }}</td>
                <td>{{ circuit.provider }}</td>
                <td>{{ circuit.customers ? circuit.customers.length : 0 }}</td>
           </tr>
       </tbody>
   </table>
</div>