<mat-form-field color="primary">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="performFilter($event)" #input>
</mat-form-field>
<mat-card>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="cid">
            <th mat-header-cell *matHeaderCellDef>CID</th>
            <td mat-cell *matCellDef="let element">{{element.cid}}</td>
        </ng-container>
    
        <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef>Provider</th>
            <td mat-cell *matCellDef="let element">{{element.provider}}</td>
        </ng-container>
    
        <ng-container matColumnDef="customers">
            <th mat-header-cell *matHeaderCellDef>Num. Customers</th>
            <td mat-cell *matCellDef="let element">{{element.customers ? element.customers.length : 0}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [routerLink]="['/circuit', row.id]"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">No circuits</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    
    <button mat-flat-button color="primary" [routerLink]="['/circuits/new']">Add New Circuit</button>
</mat-card>