.circuit-list-flex-container {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: space-around;
}

.circuit-list-flex-item {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
}