<form [formGroup]="form"
        (ngSubmit)="onSave()"
        novalidate>
    <div class="container">
        <div class="row">
            <div class="five-sixteenths">
                <mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete" 
                                        (optionSelected)="onSelect($event)">
                        <mat-option *ngFor="let customer of filteredCustomers | async" 
                                    [value]="customer">
                            {{ customer.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-label>Name</mat-label>
                    <input type="text" 
                            matInput 
                            placeholder="Name" 
                            formControlName="name"
                            [matAutocomplete]="auto">
                </mat-form-field>
            </div>
            <div class="five-sixteenths">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email"
                            matInput
                            placeholder="Email"
                            formControlName="email">
                </mat-form-field>
            </div>
            <div class="five-sixteenths">
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input type="phone"
                            matInput
                            placeholder="Phone"
                            formControlName="phone">
                </mat-form-field>
            </div>
            <div class="one-sixteenth">
                <button mat-icon-button 
                        color="primary" 
                        type="submit">
                    <mat-icon>add_box</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <button mat-button-raised 
                    color="primary"
                    type="button"
                    [disabled]="stagedCustomers.length === 0"
                    (click)="confirmCustomers()">
                Confirm
            </button>
        </div>
    </div>
</form>
{{ stagedCustomers | json }}