@use "sass:math";

.five-sixteenths {
    width: math.percentage(5/16);
    display: inline-block;
    //margin-left: 4px;
    //margin-right: 4px;
}

.one-sixteenth {
    width: math.percentage(1/16);
    display: inline-block;
    
}

.mat-form-field {
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    
}

.mat-divider {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mat-card {
    margin-bottom: 16px;
}

.right {
    justify-content: flex-end;
}